.Dash-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 60px;
    padding-left: 200px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.Dash-form {
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Dash-logo1 {
    font-size: 15px;
    font-weight: 700;
    color:black;
    margin: 0;
    margin-left: 12px;
    line-height: 10px;
}
.Dash-logo2{
    font-size: 20px;
    font-weight: 700;
    color:blue;
    margin: 0;
    line-height:1px;
}

.Dash-logo span {
    display: block;
}

.Dash-inicio {
    font-size: 16px;
    margin: 0 0 10px 0;
}

.Dash-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: px;
}

.Dash-row input[name="Dash-busca"] {
    width: 500px;
    padding: 5px;
    font-size: 16px;
    border-radius: 6px;
    height: 40px;
    border: 1px solid #ccc;
    line-height:5px;
}

.Dash-row button {
    padding: 7px 10px;
    font-size: 16px;
    border-radius: 6px;
    background: #0066ff;
    border: none;
    color: white;
    cursor: pointer;
}
.Dash-botao2{
    margin-left: 10px;
}
.Card-container{
    width: 900px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.Dash-usuario {
    position: absolute;
    top: 20px;
    right: 40px;

    display: flex;
    align-items: center;
    gap: 10px;        
}


.Dash-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #007bff;
}

.Dash-perfil {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin: 0;
}
.MenuPerfil {
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  z-index: 100;
  cursor: pointer;
}

.Card{
    width: 220px;
    padding: 15px;
    background: white;
    border-radius: 10px;
    border: 1px solid #ccc;                
    box-shadow: 0 2px 5px rgba(0,0,0,0.08);   
    cursor: pointer;
    transition: 0.2s;
}
.Card-title{
    color: rgb(8, 145, 145);
}