.Forum-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    box-sizing: border-box;
}

.Forum-form {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f5f5f5;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.Forum-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.Forum-form input[type="text"] {
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
}

.Forum-criar {
    padding: 7px 15px;
    font-size: 16px;
    border-radius: 6px;
    background-color: #0066ff;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.Forum-criar:hover {
    background-color: #0052cc;
}
.Dash-usuario {
    position: absolute;
    top: 20px;
    right: 40px;

    display: flex;
    align-items: center;
    gap: 10px;        
}
.Dash-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.Dash-perfil {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin: 0;
}
.MenuPerfil {
    position: absolute;
    top: 55px;
    right: 0;
    background: #f3f1f1;
    color:#000;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
